header {
    height: 396px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > * {
    z-index: 2;
    position: relative;
}

.header-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 396px;
    overflow: hidden;
    z-index: 1;
}

.header-background > div {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/Movies-background.webp');
    filter: blur(2px);
    transform: scale(1.7);
}

.search-line {
    height: 57px;
    width: 960px;
    display: flex;
    gap: 14px;
    font-size: 14px;
}

.search-line > button {
    width: 233px;
}

.search-line > input {
    width: 713px;
    border: none;
    border-radius: 4px;
    background-color: rgba(35, 35, 35, 0.5);
    color: var(--color-5);
    padding: 15px;
    font-size: 14px;
}

.logo {
    color: var(--color-1);
    position: absolute;
    top: 28px;
    left: 0;
    margin: 0;
    z-index: 100;
}

.add {
    width: 177px;
    height: 46px;
    background-color: rgba(85, 85, 85, 0.75);
    color: var(--color-1);
    position: absolute;
    top: 20px;
    right: 0;
}

.header-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
}

