.modal-genre-select {
  text-transform: capitalize;
}

.modal-submit-error {
  position: absolute;
  width: 100%;
  margin-top: 95px;
  font-size: 14px;
  text-transform: none;
}

.modal-input-error {
  outline: 1px solid var(--color-1);
}
