.card {
    width: 100%;
    position: relative;
}

img {
    width: 100%;
    height: 455px;
    object-fit: cover;
}

.card img {
    cursor: pointer;
}

.description {
    width: 100%;
    margin-top: 22px;
}

.title {
    font-size: 18px;
}

.year {
    font-size: 14px;
    float: right;
    border: 1px solid var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 26px;
    border-radius: 4px;
}

.genre {
    font-size: 14px;
    color: var(--color-5);
    opacity: 0.5;
    margin-top: 8px;
}

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    display: none;
}

img:hover + .menu, .menu:hover {
    display: block;
}

.card .window {
    width: 200px;
    height: 100px;
    background-color: var(--color-3);
    position: absolute;
    top: 15px;
    right: 15px;
}

.card .window .close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card .window .edit {
    outline: 1px solid red;
    position: relative;
    top: 41px;
}