.option-container {
  display: flex;
  align-items: center;
  height: 46px;
  color: var(--color-white);
}

.option-label {
  display: flex;
  align-items: center;
  padding-left: 2.6em;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.option-check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  padding: 0 !important;
}

.option-check-box {
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: var(--color-white);
  margin-left: -1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.15em;
}

.option-check-input:checked + .option-check-box {
  background-color: var(--color-1);
}

.option-icon {
  width: 0.5em;
  height: 0.2em;
  border-left: 3px solid var(--color-white);
  border-bottom: 3px solid var(--color-white);
  transform: rotate(-45deg);
  margin-bottom: 0.2em;
  margin-right: 0.05em;
}
