main {
    width: 100%;
    background-color: var(--color-3);
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 1080px;
}

.row {
    height: 63px;
}

.results {
    display: flex;
    gap: 31px;
    font-size: 12px;
}

.results > * {
    padding: 24px 0;
}

.filter {
    display: inline-flex;
    float: left;
}

.filter > div:hover {
    box-shadow: 0 2px 0 0 var(--color-1);
}

.sort, .sort div {
    display: inline-flex;
    float: right;
}

.sort p {
    color: var(--color-5);
    opacity: 0.5;
}

.sort, .filter {
    text-transform: uppercase;
}

p {
    margin: 0;
}

.arrow {
    color: var(--color-1);
    margin-left: 10px;
}

hr {
    margin: 0;
    border: 1px solid var(--color-2);
}

.found {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    padding-bottom: 76px;
}

.filter div {
    position: relative;
}

.radio {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    appearance: none;
}

.radio:checked {
    box-shadow: 0 2px 0 0 var(--color-1);
}