main {
  width: 100%;
  background-color: var(--color-3);
  margin: 10px 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 1200px;
  box-sizing: border-box;
  padding: 0 60px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.results {
  display: flex;
  gap: 30px;
  font-size: 16px;
}

.results > * {
  padding: 20px 0;
}

.filter {
  display: inline-flex;
  float: left;
  text-transform: uppercase;
}

.sort,
.sort select {
  display: inline-flex;
  float: right;
}

.sort p {
  color: var(--color-5);
  opacity: 0.5;
}

.sort > * {
  text-transform: uppercase;
  font-size: 16px;
}

.sort select {
  background: none;
  border: none;
  color: var(--color-5);
  outline: none;
  width: 159px;
}

.sort option {
  background-color: var(--color-2);
}

p {
  margin: 0;
}

.arrow {
  color: var(--color-1);
  margin-left: 10px;
}

hr {
  margin: 0;
  border: none;
  border-top: 2px solid var(--color-2);
  border-bottom: 2px solid black;
}

.found {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  padding-bottom: 76px;
}

.filter div {
  position: relative;
}

.radio {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  appearance: none;
  cursor: pointer;
}

.radio:checked,
.radio:hover {
  box-shadow: 0 4px 0 0 var(--color-1);
}
