.main {
    width: 100%;
    background-color: #232323;
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 1080px;
}

.row {
    height: 62px;
}

.results {
    display: flex;
    gap: 31px;
    /* width: 487px; */
    font-size: 12px;
}

.results > * {
    padding: 24px 0;
}

.filter {
    display: inline-flex;
    float: left;
}

.filter > div:hover {
    /* border-bottom: 2px solid #f65261; */
    box-shadow: 0 2px 0 0 #f65261;
}

.sort, .sort div {
    display: inline-flex;
    float: right;
}

.sort p {
    color: #aaaaaa;
}

p {
    margin: 0;
}

.arrow {
    color: #f65261;
    margin-left: 10px;
}

hr {
    margin: 0;
    border: 1px solid #424242;
}

.found {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
    padding-bottom: 76px;
}