.header-container {
  min-height: var(--header-height);
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container > * {
  z-index: 2;
  position: relative;
}

.header-container h1 {
  font-size: 40px;
  display: inline-block;
  margin: 0;
  margin-bottom: 38px;
}

.header-container::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('img/Movies-background.webp');
  filter: blur(2px);
  transform: scale(1.7);
}

.header-content {
  position: absolute;
  height: 396px;
  width: 1200px;
  box-sizing: border-box;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px;
}

.search-line {
  height: 57px;
  display: flex;
  gap: 14px;
}

.search-line > button {
  width: 233px;
  font-size: 20px;
}

.search-line > input {
  width: 713px;
  border: none;
  border-radius: 4px;
  background-color: rgba(35, 35, 35, 0.5);
  color: var(--color-5);
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 20px;
}

.logo-pos {
  position: absolute;
  top: 20px;
  left: 60px;
}

.add {
  width: 177px;
  height: 46px;
  font-size: 20px;
  background-color: rgba(85, 85, 85, 0.75);
  color: var(--color-1);
  position: absolute;
  top: 20px;
  right: 60px;
}
