.menuPopover {
    width: 190px;
    height: 111px;
    background-color: var(--color-3);
    border-radius: 4px;
}

.menuPopover .close {
    float: right;
    margin: 8px;
    z-index: 10;
    width: 12px;
    height: 12px;
    font-size: 12px;
}