button {
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    height: 57px;
    width: 180px;
}

.confirm {
    color: var(--color-5);
    background-color: var(--color-1);
}

.cancel {
    color: var(--color-1);
    border: 1px solid var(--color-1);
    background-color: transparent;
    border-radius: 4px;
}

.close {
    background-color: transparent;
    color: var(--color-5);
    width: 21px;
    height: 21px;
    padding: 0;
    font-size: 21px;
}

.menu {
    background-color: var(--color-3);
    color: white;
    border-radius: 50%;
    width: 36px !important;
    height: 36px !important;
    padding: 0;
}

.edit, .delete {
    width: 100%;
    height: 34px;
    color: white;
    background: transparent;
    text-transform: capitalize;
    text-align: left;
    border-radius: 0;
    padding-left: 16px;
    font-size: 16px;
}

.edit:hover, .delete:hover {
    background-color: var(--color-1);
}