footer {
    height: 70px;
    width: 100%;
    background-color: var(--color-2);
    color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}